[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
cd = "*"
boltons = "*"
alembic = "*"
pymysql = "*"
sqlalchemy = "*"
cryptography = "*"
httptools = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
